fastapi==0.115.12
uvicorn==0.34.2
mangum==0.19.0
functions-framework==3.8.3
python-dotenv==1.1.0
langchain==0.3.25
langchain-openai==0.3.17
langchain-community==0.3.24
openai==1.79.0
numpy<2.0
pydantic==2.11.4
duckduckgo-search==8.0.2 